{% extends 'template.html.twig' %}

{% block title %}Salle De Sport{% endblock %}

{% block form %}
    <div style="text-align: center;">
        <h3>Salle De Sport</h3>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>IdSalle</th>
            <td>{{ Salle.idSalle }}</td>
        </tr>
        <tr>
            <th>NomSalle</th>
            <td>{{ Salle.nomSalle }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ Salle.adresse }}</td>
        </tr>
        <tr>
            <th>Region</th>
            <td>{{ Salle.region }}</td>
        </tr>
        <tr>
            <th>Heure Début</th>
            <td>{{ Salle.hdebut }}</td>
        </tr>
        <tr>
            <th>Heure Fin</th>
            <td>{{ Salle.hfin }}</td>
        </tr>
        <tr>
            <th>Min</th>
            <td>{{ Salle.min }}</td>
        </tr>
        <tr>
            <th>N° Tel</th>
            <td>{{ Salle.numtel }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>
<div style="text-align: center;">
    <a class="btn btn-primary" href="{{ path('salledesport_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('Salle_edit', {'idSalle': Salle.idSalle}) }}">edit</a>

    {{ include('salledesport/_delete_form.html.twig') }}
</div>
{% endblock %}
