<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportify</title>
    <meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
    <meta name="author" content="Luka Cvetinovic for Codrops" />
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("front/img/favicons/apple-touch-icon-57x57.png") }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("front/img/favicons/apple-touch-icon-60x60.png") }}">
    <link rel="icon" type="image/png" href="{{ asset("front/img/favicons/favicon-32x32.png") }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset("front/img/favicons/favicon-16x16.png") }}" sizes="16x16">
    <link rel="manifest" href="{{ asset("front/img/favicons/manifest.json") }}">
    <link rel="shortcut icon" href="{{ asset("front/img/favicons/favicon.ico") }}">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="{{ asset("front/img/favicons/browserconfig.xml") }}">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/normalize.css") }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/bootstrap.css") }}">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/owl.css") }}">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/animate.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{ asset("front/fonts/font-awesome-4.1.0/css/font-awesome.min.css") }}">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="{{ asset("front/fonts/eleganticons/et-icons.css") }}">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="{{ asset("/front/css/cardio.css") }}">
</head>

<body>
<div class="preloader">
    <img src="{{ asset("front/img/loader.gif") }}" alt="Preloader image">
</div>
<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{ asset("front/img/logo.png") }}" data-active-url="{{ asset("front/img/logo-active.png") }}" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li><a href="{{ path('front') }}">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="{{ path('Salle') }}">Salle De Sport</a></li>
                <li><a href="{{ path('course') }}">Cours</a></li>
                <li><a href="{{ path('product') }}">Product</a></li>
                <li><a href="{{ path('event') }}">Evennement</a></li>
                <li><a href="{{ path('app_login') }}" class="btn btn-blue">Se connecter</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header id="intro">
    <div class="container">
        <div class="table">
            <div class="header-text">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="light white">Blogs</h3>
                        <h1 class="white typed">Take a Look at Our Blogs</h1>
                        <span class="typed-cursor">|</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</header>

<section id="team" class="section gray-bg">
    <div class="container">
        <script>
            $(".recherche").on("submit", function(event) {
                // prevent page reload
                event.preventDefault();

                $.ajax({
                    url: '{{ path('blogs') }}',
                    type: 'POST',
                    success: function() {
                        // perform dom update to show search results
                    }
                });
            });
        </script>

        <form id="recherche" method="get" type="submit">
            <div style="text-align: center;">
                <input style="border-radius: 75px" name="users"  class="form-control form-control-lg" placeholder="Chercher...">
            </div>
        </form>

        {% for blog in blogs %}
        <div class="row">
            <div class="col-md-4">
                <div class="team text-center">
                    <div class="title">
                        <h5>Titre:</h5>
                        <p class="description">{{ blog.titre }}</p>
                        <h5>image:</h5>
                        <td class="pic" ><img style="height: 200px; width: 200px;" src="/imagez/{{ blog.image }}" alt></td>
                        <h5>text:</h5>
                        <p class="description">{{ blog.text }}</p>
                        <h5>auteur:</h5>
                        <p class="description">{{ blog.auteur }}</p>

                        <div class="cover" style="background:url("{{ asset("front/img/team/team-cover3.jpg") }}"); background-size:cover;">
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

<!-- Holder for mobile navigation -->
<div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script src="{{ asset("front/js/jquery-1.11.1.min.js") }}"></script>
<script src="{{ asset("front/js/owl.carousel.min.js") }}"></script>
<script src="{{ asset("front/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("front/js/wow.min.js") }}"></script>
<script src="{{ asset("front/js/typewriter.js") }}"></script>
<script src="{{ asset("front/js/jquery.onepagenav.js") }}"></script>
<script src="{{ asset("front/js/main.js") }}"></script>
</body>

</html>
