{% extends 'template.html.twig' %}

{% block title %}Cours{% endblock %}

{% block form %}
    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Cours</h3>
    </div>
<div class="card shadow-lg h-75 m-4 mt-8">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <th>IdCours</th>
                <td>{{ cour.idCours }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ cour.date ? cour.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ cour.heure }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ cour.duree }}</td>
            </tr>
            <tr>
                <th>PlaceDisponible</th>
                <td>{{ cour.placeDisponible }}</td>
            </tr>
            <tr>
                <th>Type_Cours</th>
                <td>{{ cour.typeCours }}</td>
            </tr>
            <tr>
                <th>MailCoach</th>
                <td>{{ cour.mailcoach }}</td>
            </tr>
            <tr>
                <th>Nom de Salle de Sport</th>
                <td>{{ cour.nomsalledesport }}</td>
            </tr>
            <th>Image</th>
            <td> {% if cour.typeCours=='Yoga' %}
                <img src="{{ asset("yogaa.jpg") }}">
                {% elseif cour.typeCours=='Cardio' %}
                <img src="{{ asset("cardio.png") }}">
                {% elseif cour.typeCours=='Running' %}
                <img src="{{ asset("running.png") }}">
                {% elseif cour.typeCours=='Zumba' %}
                <img src="{{ asset("zumba.jpg") }}">
                {% else%}
                <img src="{{ asset("sport.png") }}">
            </td>
            {% endif %}

            <td>

        </tbody>
    </table>
<div style="text-align: center;">
    <a class="btn btn-secondary" href="{{ path('cours_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('cours_edit', {'idCours': cour.idCours}) }}">edit</a>
</div>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
